@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

:root {
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;

  --black: #181820;
  --light-black: #21212b;
  --pink: #d63691;
  --dark-pink: #aa28a3;
  --light-pink: #fc76a1;
  --purple: #77308e;

  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
